<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nolambda.uibook.browser">

    <application>
        <activity
            android:name=".UIBookListActivity"
            android:exported="true"
            android:theme="@style/Theme.UIBook">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UIBookActivity"
            android:exported="false"
            android:theme="@style/Theme.UIBook"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>